<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dzakdzaks.footballapps">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".features.home.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.events.search_events.SearchEventsActivity"
            android:parentActivityName=".features.home.MainActivity" />
        <activity
            android:name=".features.events.events_detail.EventsDetailActivity"
            android:label="@string/title_activity_events_detail"
            android:parentActivityName=".features.home.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.teams.team_detail.TeamsDetailActivity"
            android:label="@string/title_activity_team_detail"
            android:parentActivityName=".features.home.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.players.player_detail.PlayerDetailActivity"
            android:label="@string/title_activity_player_detail"
            android:parentActivityName=".features.teams.team_detail.TeamsDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>